<footer>
    <div class="footer-content">
        <img src="../../assets/light-logo.png" class="logo" alt="">
        <div class="footer-ul-container">
            <ul class="category" style="padding-left: 0px;">
                <li class="category-title">books category</li>
                <li><a href="#" class="footer-link">comedy books</a></li>
                <li><a href="#" class="footer-link">novelss</a></li>
                <li><a href="#" class="footer-link">top rated books</a></li>
                <li><a href="#" class="footer-link">fictions book</a></li>
                <li><a href="#" class="footer-link">singing books</a>
                <li><a href="#" class="footer-link">science</a></li>
                <li><a href="#" class="footer-link">maths</a></li>
                <li><a href="#" class="footer-link">socialscience</a></li>
                <li><a href="#" class="footer-link">sports books</a></li>
                <li><a href="#" class="footer-link">yoga books</a></li>
            </ul>

        </div>
    </div>
</footer>