<section class="collection-container">
    <a href="#" class="collection">
        <img src="../../assets/singing-collection.png" alt="">
        <p class="collection-title">Singing <br> Books</p>
    </a>
    <a href="#" class="collection">
        <img src="../../assets/diet-collection.png" alt="">
        <p class="collection-title">men <br> books</p>
    </a>
    <a href="#" class="collection">
        <img src="../../assets/religious-book.png" alt="">
        <p class="collection-title">religious books</p>
    </a>
</section>