
<nav class="navbar navbar-expand-lg bg-body-tertiary" style="position: sticky; top: 0; left: 0; z-index: 9; display: block;">
    <div class="container">
        <!-- <a class="navbar-brand" href="#">bookly.com</a> -->
        <a href="#">
            <img src="../../assets/dark-logo.png" class="brand-logo" alt="Bookly - Many's favorite">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <button type="button" class="btn " style="background: #383838; color: #ffffff;">
                    Cart<span class="badge badge-light" id="wishlist-count" >0</span>
                </button>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Order</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Settings
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Wish List</a></li>
                        <li><a class="dropdown-item" href="#">Account</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Order History</a></li>
                        <li><a class="dropdown-item" href="#">Donate</a></li>
                        <li><a class="dropdown-item" href="#">Locations</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
            </ul>

        </div>
    </div>
    <ul class="links-container" style="padding-left: 0px;">
        <li class="link-item"><a href="#" class="link">Home</a></li>
        <li class="link-item"><a href="#" class="link">Novels</a></li>
        <li class="link-item"><a href="#" class="link">Comics </a></li>
        <li class="link-item"><a href="#" class="link">Study</a></li>
        <li class="link-item"><a href="#" class="link">Fictional</a></li>
    </ul>
</nav>
